<div class="header">
  <span class="name">Name:___________ ( )</span
  ><span class="class">Class:_____</span>
  <span class="date">Date:___________</span
  ><span class="grade">Grade:________</span>
</div>
